body{
    background-color: #CAD2C5;
}

span{
    
    font-family:  'Dongle', sans-serif;
    font-size: 60px;
    padding: 20px;
   
}

input{
    background-color: #353535;
    width: 70%;
    height: 60px;
    
    margin-top: 60px;

    border-radius: 10px;
}

.header{
    background-color: #2F3D46;
    color: #FCFFFF;
    padding: 10px;
}



.fa{
    padding: 20px;
}

.sidebar{
    background-color: #353535;
    height: 700px;
    margin: 60px 0px 80px 50px;
    border-radius: 30px;
}



.search{
    text-align: center;
}



.card{
    background-color: #353535;
    height: 175px;
    width: 270px;
    margin: 80px 0px 80px 0px;
    border-radius: 20px;
    

}

.footer{
    background-color: #353535;
    height: 230px;
    margin-top: 19mm;
    border-radius: 20px;
}